.note__item_wrapper {
    height: 33px;
    width: 475px;
    background-color: #FFFFFF;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    svg {
        cursor: pointer;
    }

    >div {
        display: flex;
        gap: 10px
    }
}