.app__field_wrapper {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;

    input {
        height: 48px;
        color: #010101;
        font-weight: 400;
        font-size: 16px;
    }

    label {
        text-align: left;
    }

}