.app__field_wrapper {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;

    input {
        height: 48px;
        color: #010101;
        font-weight: 400;
        font-size: 16px;
    }

    label {
        text-align: left;
    }

}

.error__field {

    input {
        border: 1px solid red;
    }

    .field__error_mesage {
        display: flex;
        color: red;
        margin-bottom: 0 !important;
    }
}