.add__button_wrapper {
    margin-top: 100px;
}

.circle__button {
    height: 40px;
    background: #FF6B0A;
    border: none;
    text-align: center;
}

.circle__button p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding: 0 20px;
}