@import "src/styles/variables";

.app__button_wrapper {

    padding: 15px;

    .add__button {
        height: 40px;
        background: $orange-color;
        border: none;
        text-align: center;
        cursor: pointer;


        p {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
            margin: auto;
            padding: 0 20px;
        }
    }
}